@font-face{
font-family: LiberationSerif;
src: url('LiberationSerif-Regular.ttf');
}

body{
    /*border: 1px black solid;*/
    font-family: 'LiberationSerif', 'Bookman', 'Times', Serif;
    margin: 0px;
    background: #f0f0f0;
    position: relative;
}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
}

#body-wrapper{
    width: max-content;
    max-width: 95%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    display: block;
    position: relative;
    /*background: #abcdef;*/
    overflow: hidden !important;
}

#body-tabs{
    display: block;
    overflow: hidden;
    background: #2d2d2d;
    padding: 0px 10px;
    height: 50px;
    /*background-image: url(./cropped.png);*/
    background-repeat: no-repeat;
    background-size: auto 35px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 7px;
}

#tab{
    display: inline-block;
    /* border: 2px solid #000000; */
    color: #ffffff;
    padding: 00px 20px;
    border-radius: 0px;
    /* margin: 3px; */
    margin: 0px;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    height: 100%;
}
#tab:hover{
    background: #777777;
}

.front{

}

.back{

}

#lefttabs{
    float: left;
}

#lefttabs img {
    padding: 8px 10px;
    height: 34px;
}

#lefttabs img:hover {
    background: #777777;
}

#righttabs{
    float: right;
}

#body-content{
    /*border: 2px #000000 solid;*/
    border: 1px #dadada solid;
    min-height: 100px;
    /*margin-left: 20%;*/
    /*background: #d3deda;*/
    background: #ffffff;
    border-radius: 0px;
    margin-top: 3px;
    padding: 20px 40px;
}

#title{
    text-align: center;
    margin: .5em 0em 1.5em 0em;
    font-weight: bold;
    font-style: italic;
}
#title h1{
    margin: 0em 0em .0em 0em;
    font-style: normal;
}
h1 a {
    text-decoration: underline #eee;
    color: #000;
}

#playerlist{
    margin: 5px 10px 20px 10px;
    background: #ffffff;
    border: 1px #000000 solid;
    font-family: monospace;
    font-size: 1.3em;
    width: min-content;
    max-width: 23%;
    display: inline-block;
}
#playerlist {
    background: #ffffff;
    border: 1px #000000 solid;
    font-family: monospace;
    font-size: 1.3em;
    max-width: 23%;
    flex-grow: 1;
}
#playerlist > div:nth-of-type(even){
    background: #e0e0e0;
}
#playerlist > div:nth-of-type(2) {
    border-bottom: 1px solid #888;
}
#playerlist a{
    font-family: monospace;
    text-decoration: none;
    font-size: 11pt;
    color: #000000;
}

#list-line{
    width: 100%;
    border: 0px black solid;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-flex;
}
#list-line.unused {
    color: #666666;
}
#list-line:hover{
    background: #d7d7e4 !important;
    font-weight: bold;
    position: relative;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.2);
}
#list-line.header{
    font-weight: bold;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: #ffffff !important;
    vertical-align: middle;
}

#list-segment{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}
#list-segment.title {
    text-align: center;
    width: 100%;
}
#list-segment.datestamp {
    text-align: center;
    width: 100px;
}
#list-segment.number{
    width: 25px;
    padding: 0px 5px;
    font-weight: bold;
    text-align: center;
}
#list-segment.rating{
    width: 65px;
    text-align: center;
}
#list-segment.profile-score {
    width: 85px;
    text-align: center;
}
#list-segment.name{
    width: 200px;
    padding-left: 15px;
    overflow: hidden;
    word-break: break-all;
    /*display: inline-flex !important;*/
}
#list-line.header #list-segment.name{
    text-align: center;
    text-decoration: none;
    /*display: inline-flex !important;*/
}

#footer{
    background: #dadada;
    text-align: center;
    min-height: 40px;
    line-height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px #e0e0e0 solid;
    display: block;
    position: initial;
}
#footertext{
    text-align: center;
    font-size: 10pt;
    padding: 8px;
    opacity: 0.8;
}

#lastupdate p {
    font-weight: normal;
    padding: 0;
    margin: 5px 0 0 0;
}

table {
    margin: 5px 20px 5px 20px;
    border: 1px solid #000000;
    text-align: center;
    display: inline-block;
    background: #ffffff;
}
th {
    border-bottom: 1px solid #000000;
    padding: 5px 10px;
}
#scores-container {
    padding: 10px;
}
#scores-container a {
    color: #000;
    text-decoration: none;
}
.current-score {
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
.current-score:hover {
    background: #99999940;
}
.current-score-header {
    padding: 5px;
    background: #2d2d2d;
    color: #ffffff;
}
.current-score-body {
    padding: 15px;
    font-size: 1.25em;
}
#ratings-chart-container {
    margin: 25px;
}
.shaded {
    opacity: 40%;
}

#runs-table{
    border: 5px solid #000000;
    overflow: hidden;
}
.runs-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.runs-table-timebox {
    margin: 1px;
    width: 75px;
    height: 55px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
}
.runs-table-timebox.header {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centertext {
    padding: 0 !important;
    line-height: 12pt;
    height: 10px;
}
.runs-table-timebox.ghosted {
    opacity: 0.25;
    background: #cccccc;
}
.runs-table-timebox.wr {
    background: #ffff0030;
}
#board-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.runs-table-ranking {
    font-size: 8pt;
    padding-top: 10px;
    margin: 0;
    line-height: 8pt;
}
.runs-table-ranking.wr {
    line-height: 16pt;
    font-size: 10pt;
    padding-top: 11px;
    font-weight: bold;
    font-style: italic;
}
.runs-table-difference {
    font-size: 8pt;
    padding-top: 3px;
    margin: 0;
    line-height: 8pt;
}
.runs-table-time {
    text-decoration: underline;
}
.timebox {
    text-decoration: none;
    color: #000;
}
