{% macro header(header_text) %}
<html>
    <head>
        <title>{{ header_text }}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'favicon-32x32.png') }}"/>
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename = 'favicon-96x96.png') }}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = 'favicon-16x16.png') }}"/>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'favicon.png') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" />
        <script type = "text/javascript" src="{{ url_for('static', filename = 'Chart.js') }}"></script>
    </head>
    <body>

    <div id="container">

        {{ tabs() }}

    <div id="body-wrapper">

        <div id="body-content">
{% endmacro %}

{% macro tabs() %}
        <div id="body-tabs">
            <div id="lefttabs">
                <a href="/"><img src= {{ url_for('static', filename = 'logo.png') }}></a>
            </div>

            <div id="righttabs">
                <a href="https://discord.gg/Gp7swfc"><div id="tab" class="topplayers back">RS Discord</div></a>
            </div>
            <div id="righttabs">
                <a href="https://www.speedrun.com/rogue1/"><div id="tab" class="topplayers back">Speedrun.com</div></a>
            </div>
            <div id="righttabs">
                <a href="/faq"><div id="tab" class="topplayers back">Rankings FAQ</div></a>
            </div>

        </div>
{% endmacro %}

{% macro title(name, date) %}
            <div id="title">
                    <h1>
                        {{ name }}
                    </h1>
                    {% if date %}
                    <div id="lastupdate">
                        <p>Last leaderboard update: {{ date[:4] }}-{{ date[4:6] }}-{{ date[6:] }}</p>
                    </div>
                    {% endif %}
            </div>
{% endmacro %}

{% macro player_chart(input_data) %}
    <!--{% for i in input_data %}
        <p>{{ i }}</p>
    {% endfor %}-->

    <canvas id="myChart" width="400" height="300"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for i in input_data[0] %}
                    {{ '"'|safe ~ i[:4] ~ "-" ~ i[4:6] ~ "-" ~ i[6:] ~ '",'| safe }}
                {% endfor %}
                ""],
            datasets: [{
                label: 'PC Any',
                data: [
                    {% for i in input_data[1] %}
                        {{ i ~ ',' }}
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(114, 147, 203, 0.0)'
                ],
                borderColor: [
                    'rgba(114, 147, 203, 1)'
                ],
                pointBackgroundColor: 'rgba(114, 147, 203, .6)',
                pointBorderColor: 'rgba(114, 147, 203, 1)',
                pointHoverBackgroundColor: 'rgba(114, 147, 203, 1)',
                pointHoverBorderColor: 'rgba(114, 147, 203, 1)',
                pointRadius: 2.5,
                pointBorderWidth: 1,
                borderWidth: 3,
                lineTension: 0
            },{
                label: 'PC Gold',
                data: [
                    {% for i in input_data[2] %}
                        {{ i ~ ',' }}
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(132, 186, 91, 0.0)'
                ],
                borderColor: [
                    'rgba(132, 186, 91, 1)'
                ],
                pointBackgroundColor: 'rgba(132, 186, 91, .6)',
                pointBorderColor: 'rgba(132, 186, 91, 1)',
                pointHoverBackgroundColor: 'rgba(132, 186, 91, 1)',
                pointHoverBorderColor: 'rgba(132, 186, 91, 1)',
                pointRadius: 2.5,
                pointBorderWidth: 1,
                borderWidth: 3,
                lineTension: 0
            },{
                label: 'N64 Any',
                data: [
                    {% for i in input_data[3] %}
                        {{ i ~ ',' }}
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(211, 94, 96, 0.0)'
                ],
                borderColor: [
                    'rgba(211, 94, 96, 1)'
                ],
                pointBackgroundColor: 'rgba(211, 94, 96, .6)',
                pointBorderColor: 'rgba(211, 94, 96, 1)',
                pointHoverBackgroundColor: 'rgba(211, 94, 96, 1)',
                pointHoverBorderColor: 'rgba(211, 94, 96, 1)',
                pointRadius: 2.5,
                pointBorderWidth: 1,
                borderWidth: 3,
                lineTension: 0
            },{
                label: 'N64 Gold',
                data: [
                    {% for i in input_data[4] %}
                        {{ i ~ ',' }}
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(225, 151, 76, 0.0)'
                ],
                borderColor: [
                    'rgba(225, 151, 76, 1)'
                ],
                pointBackgroundColor: 'rgba(225, 151, 76, .6)',
                pointBorderColor: 'rgba(225, 151, 76, 1)',
                pointHoverBackgroundColor: 'rgba(225, 151, 76, 1)',
                pointHoverBorderColor: 'rgba(225, 151, 76, 1)',
                pointRadius: 2.5,
                pointBorderWidth: 1,
                borderWidth: 3,
                lineTension: 0
            },]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
{% endmacro %}

{% macro footer() %}
            </div>
            <div id="footertext">
                <!--<span title="v0.13 Ackbar">SW:RS Ranking v0.13, 16-Jun-2020</span>-->
                <!--<span title="v0.18 Biggs">SW:RS Ranking v0.18, 17-Jun-2020</span>-->
                <!--<span title="v0.26 Celchu">SW:RS Ranking v0.26, 23-Jun-2020</span>-->
                <!--<span title="v0.35 Darklighter">SW:RS Ranking v0.35, Updated 24-Jun-2020</span>-->
                <!--<span title="v0.55 Erso">SW:RS Ranking v0.55, Updated 25-Jun-2020</span>-->
                <!--<span title="v0.75 Fett">SW:RS Ranking v0.75, Updated 29-Jun-2020</span>-->
                <!--<span title="v0.77 Greedo">SW:RS Ranking v0.76, Updated 1-Jul-2020</span>-->
                <!--<span title="v0.78 Hutt">SW:RS Ranking v0.78, Updated 2-Jul-2020</span>-->
                <!--<span title="v0.80 IG-88">SW:RS Ranking v0.80, Updated 7-Jul-2020</span>-->
                <span title="v0.83 Janson">SW:RS Ranking v0.83, Updated 8-Jul-2020</span>
            </div>
        </div>

    </div>

    </body>
</html>
{% endmacro %}

