{% from "macros.html" import header, footer, categories, title, player_chart %}


{{ header(name +" | SWRS") }}

{{ title(name + ": " + platform + ", " + medal, last_update) }}

{% set level_acronyms = ["AaME",
"RoB",
"SftN",
"DaC",
"LoGV",
"TJM",
"ICY",
"AK2",
"RoK",
"PoK",
"BAT",
"EFF",
"BoC",
"RoS",
"MSR",
"TBoC",
"BC",
"DSTR",
"Hoth"] %}

    <div id="about">

            <div id="runs-table">
                <div class="runs-table-row">
                    <div class="runs-table-timebox header ghosted"> </div>
                    <div class="runs-table-timebox header">X</div>
                    <div class="runs-table-timebox header">Y</div>
                    <div class="runs-table-timebox header">A</div>
                    <div class="runs-table-timebox header">V</div>
                    <div class="runs-table-timebox header">SS</div>
                    <div class="runs-table-timebox header">MF</div>
                    <div class="runs-table-timebox header">TIE</div>
                    <div class="runs-table-timebox header">N1</div>
                    <div class="runs-table-timebox header">T-16</div>
                </div>
            {% for i in range(runs|length): %}
                {% set level = runs[i] %}

                <div class="runs-table-row {{ level_acronyms[i] }}">
                <div class="runs-table-timebox">{{ level_acronyms[i] }}</div>
                {% for j in range(level|length): %}
                    {% set ship = level[j] %}
                    {% if i in [0, 1, 2, 4, 5, 7, 9, 12, 13, 14, 15]: %}
                        {% if j == 8: %}
                            {% set ghost = 'ghosted' %}
                        {% else %}
                            {% set ghost = '' %}
                        {% endif %}
                    {% elif i in [3, 6, 11, 18]: %}
                        {% if j not in [4]: %}
                            {% set ghost = 'ghosted' %}
                        {% else %}
                            {% set ghost = '' %}
                        {% endif %}
                    {% elif i in [8]: %}
                        {% if j not in [0, 1]: %}
                            {% set ghost = 'ghosted' %}
                        {% else %}
                            {% set ghost = '' %}
                        {% endif %}
                    {% elif i in [10]: %}
                        {% if j in [3, 4, 8]: %}
                            {% set ghost = 'ghosted' %}
                        {% else %}
                            {% set ghost = '' %}
                        {% endif %}
                    {% elif i in [16]: %}
                        {% if j not in [8]: %}
                            {% set ghost = 'ghosted' %}
                        {% else %}
                            {% set ghost = '' %}
                        {% endif %}
                    {% elif i in [17]: %}
                        {% if j == 7 and platform == 'N64': %}
                            {% set ghost = '' %}
                        {% elif j not in [0]: %}
                            {% set ghost = 'ghosted' %}
                        {% else %}
                            {% set ghost = '' %}
                        {% endif %}
                    {% endif %}



                    <div class="runs-table-timebox {{ ghost }}">
                        {% if ship: %}
                            <a href="{{ ship[4] }}">{{ ship[2] }}</a>
                            <div class="runs-table-ranking">
                                {% if ship[3] == 1 %}
                                    <b>WR</b>
                                {% else %}
                                    Rank {{ ship[3] }}
                                {% endif %}
                            </div>
                            <!--<div class="runs-table-diff">
                                {% if ship[3] == 1 %}
                                    <b>+0:00</b>
                                {% endif %}
                            </div>-->
                        {% else %}
                            {% if ghost == '': %}
                            -
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>

    </div>

{{ footer() }}