{% from "macros.html" import header, footer, categories, title, player_chart %}


{{ header(name +" | SWRS") }}

{{ title("Player profile: " + name) }}

    <br />

    <div id="about">
            <!--    scoredata FORMAT:
                    =================
                    [0] = dates
                    [1] = _pc_any
                    [2] = _pc_gold
                    [3] = _n64_any
                    [4] = _n64_gold-->

            <!--
            <div id="" style="border: 3px solid #ff0000; color: #ff0000; text-align: center; ">
            	<h2>Not yet implemented</h2>
            </div>

            <p><img src="/static/comingsoon.jpg"></p>
                
                <table>
                    <tr>
                        {% for i in score_history %}
                            <td>{{ i[-1] }}</td>
                        {% endfor %}
                    <tr>
                </table>
        
            -->

        <center>
            <div id="ratings_chart_container">
                {{ player_chart(score_history) }}
            </div>
        </center>

        <div id="playerlist" style="max-width: none !important;">
            <div id="list-line" class="header">
                {% for title in ['Date', 'PC Any', 'PC Gold', 'N64 Any', 'N64 Gold'] %}
                <div id="list-segment" class="datestamp">
                    {{ title }}
                </div>
                {% endfor %}
            </div>
            {% for data in range(score_history[0]|length):%}
            <div id="zebrastripes">
                <div id="list-line">
                    <div id="list-segment" class="datestamp">
                        {{ score_history[0][data] }}
                    </div>
                    <div id="list-segment" class="datestamp">
                        {{ score_history[1][data] }}
                    </div>
                    <div id="list-segment" class="datestamp">
                        {{ score_history[2][data] }}
                    </div>
                    <div id="list-segment" class="datestamp">
                        {{ score_history[3][data] }}
                    </div>
                    <div id="list-segment" class="datestamp">
                        {{ score_history[4][data] }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{{ footer() }}