{% from "macros.html" import header, footer, categories, title, player_chart %}


{{ header(name +" | SWRS") }}

{{ title("Player profile: " + name, scores[0]) }}

    <div id="about">
            <!--    scores & scoredata FORMAT:
                       ==================
                        [0] = dates
                        [1] = _pc_any
                        [2] = _pc_gold
                        [3] = _n64_any
                        [4] = _n64_gold-->

            <!--
            <div id="" style="border: 3px solid #ff0000; color: #ff0000; text-align: center; ">
            	<h2>Not yet implemented</h2>
            </div>

            <p><img src="/static/comingsoon.jpg"></p>
                
                <table>
                    <tr>
                        {% for i in score_history %}
                            <td>{{ i[-1] }}</td>
                        {% endfor %}
                    <tr>
                </table>
        
            -->

        <!-- Latest scores display -->
        <div id="scores-container">
            {% for index in range(1, scores|length):%}
                {% if scores[index] == 0 %}
                    {% set shaded = "shaded" %}
                {% else %}
                    {% set shaded = "" %}
                {% endif %}

                <a href="/player/{{ name }}/{{ columns[index][:columns[index].rfind(' ')].replace(' ', '_').lower() }}">
                    <div class="current-score {{ shaded }}">
                        <div class="current-score-header">
                            {{ columns[index] }}
                        </div>

                        <div class="current-score-body">
                            {{ scores[index] }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        

        <!-- Graph of historical player scores -->
        <center>
            <div id="ratings-chart-container">
                {{ player_chart(score_history) }}
            </div>
        </center>


        <!-- Table of all player scores -->
        <!--
        <div id="playerlist" style="max-width: none !important;">
            <div id="list-line" class="header">
                {% for title in columns %}
                    {% if title == "Date" %}
                        <div id="list-segment" class="datestamp">
                        {{ title }}
                    {% else %}
                        <div id="list-segment" class="profile-score">
                        {{ title[:-6] }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% for data in range(score_history[0]|length):%}
            <div id="zebrastripes">
                <div id="list-line">
                    <div id="list-segment" class="datestamp">
                        {{ score_history[0][data] }}
                    </div>
                    <div id="list-segment" class="profile-score">
                        {{ score_history[1][data] }}
                    </div>
                    <div id="list-segment" class="profile-score">
                        {{ score_history[2][data] }}
                    </div>
                    <div id="list-segment" class="profile-score">
                        {{ score_history[3][data] }}
                    </div>
                    <div id="list-segment" class="profile-score">
                        {{ score_history[4][data] }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        -->

    </div>

{{ footer() }}